In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
# @NOTE: Replace the path with your actual path to the chromedriver
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

# NASA Mars News

In [8]:
#may need to run multiple times. Sometimes doesn't work on the first try. 

news_url = "https://mars.nasa.gov/news/"
browser.visit(news_url)

# Scrape page into Soup
html = browser.html
news_soup = bs(html, "html.parser")

#Get the latest news title
news_t = news_soup.find('div', class_='list_text')

news_title = news_t.find('div', class_='content_title').text

#get the latest paragraph text
news_p = news_t.find('div', class_='article_teaser_body').text



print("News Title:")
print(" ")
print(news_title)
print("-------------------------------------------------------------------------")
print("News Paragraph Text:")
print(" ")
print(news_p)

News Title:

8 Martian Postcards to Celebrate Curiosity's Landing Anniversary
-------------------------------------------------------------------------
News Paragraph Text:

The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.

## JPL Mars Space Images - Featured Image

In [9]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

# Scrape page into Soup
html = browser.html
image_soup = bs(html, "html.parser")

#find where the url is located
carousel = image_soup.find('article', class_='carousel_item')
#print(carousel.prettify())


img_url = carousel["style"]
#print(img_url)

#take out crap
img_url_nocrap = img_url.split("'")
#print(img_url_nocrap)

img_url_nocrap_real = img_url_nocrap[1]
#print(img_url_nocrap_real)

featured_image_url = f'https://www.jpl.nasa.gov{img_url_nocrap_real}'

print("Image's URL Path From Scraping:")
print(" ")
print(img_url_nocrap_real)
print("---------------------------------------------------------------")
print("Image's Full URL:")
print(" ")
print(featured_image_url)

Image's URL Path From Scraping:

/spaceimages/images/wallpaper/PIA17841-1920x1200.jpg
---------------------------------------------------------------
Image's Full URL:

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17841-1920x1200.jpg

## Mars Weather

In [3]:
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)

# Scrape page into Soup
html = browser.html
weather_soup = bs(html, "html.parser")

mars_weather = weather_soup.find_all('span', class_="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0")

#print("Latest Mars Weather Information:")
#print(" ")
#print(mars_weather)
tweet_list = []

for tweet in mars_weather:
    tweet_text = str(tweet.text)
    #if 'InSight sol' in tweet:
    if tweet_text.startswith('InSight sol'):
        tweet_list.append(tweet_text)
        #print(tweet_text)
        
print(tweet_list[0])

InSight sol 601 (2020-08-05) low -91.6ºC (-132.9ºF) high -10.6ºC (12.9ºF)
winds from the W at 6.0 m/s (13.4 mph) gusting to 16.0 m/s (35.7 mph)
pressure at 7.80 hPa

In [4]:
updated_mars_weather = tweet_list[0]

In [5]:
updated_mars_weather

'InSight sol 601 (2020-08-05) low -91.6ºC (-132.9ºF) high -10.6ºC (12.9ºF)\nwinds from the W at 6.0 m/s (13.4 mph) gusting to 16.0 m/s (35.7 mph)\npressure at 7.80 hPa'

## Mars Facts

In [10]:
facts_url = "https://space-facts.com/mars/"
browser.visit(facts_url)

# Scrape page into Soup
html = browser.html
#facts_soup = bs(html, "html.parser")

table = pd.read_html(facts_url)
table

mars_table = table[0]
mars_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
mars_table.columns = ["Description", "Value"]
mars_table

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
mars_table.set_index("Description", inplace=True)
mars_table

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [13]:
html_mars = mars_table.to_html()
html_mars

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [14]:
#cleaning up html
html_mars_cleaned = html_mars.replace('\n', '')
html_mars_cleaned

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [15]:
hemi_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemi_url)

# Scrape page into Soup
html = browser.html
hemi_soup = bs(html, "html.parser")

all_hemis = hemi_soup.find('div', class_='collapsible results')
#print(all_hemis)

ind_hemis = all_hemis.find_all('div', class_='item')
#print(ind_hemis)

hemis_urls = []

for hemi in ind_hemis:
    title = hemi.find('h3').text
    title = title.replace("Enhanced", "")
    
    url_path = hemi.find('a')['href']
    hemi_img_url = f'https://astrogeology.usgs.gov/{url_path}'
    browser.visit(hemi_img_url)
    
    html = browser.html
    new_hemi_soup = bs(html, "html.parser")
    
    download = new_hemi_soup.find('div', class_='downloads')
    image_url = download.find('a')['href']
    
    hemis_urls.append({"title": title, "img_url": image_url})
    
hemis_urls

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]